@use "variables" as v;
@use "mixins" as m;

.header {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    color: v.$red;
    font-weight: 600;
    font-size: 1rem;
    line-height: 24px;
  }

  &__title {
    @include m.title(600, 1.25, 1.5rem);
  }

  &__subtitle {
    max-width: 791px;
    @include m.subtitle(v.$gray, 0.875rem, 400, 1.5);
  }
}
