@use "variables" as v;

@mixin button($background-color, $border, $color) {
  background-color: $background-color;
  border: $border;
  border-radius: 8px;
  color: $color;
  font-weight: 500;
  line-height: 24px;
  font-size: 1rem;

  &:hover {
    cursor: pointer;
    @if $background-color == transparent {
      background-color: rgb(235, 235, 235);
    } @else {
      background-color: #8e2424da;
    }
  }
}

@mixin title($font-weight, $line-height, $font-size, $text-align, $margin-top) {
  color: v.$black;
  font-size: $font-size;
  font-weight: $font-weight;
  letter-spacing: -0.02rem;
  line-height: $line-height;
  margin: $margin-top 0 0 0;
  text-align: $text-align;
}

@mixin subtitle(
  $color,
  $font-size,
  $font-weight,
  $line-height,
  $text-align,
  $margin-top
) {
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  margin: $margin-top 0 0 0;
  text-align: $text-align;
}
