@use "./variables" as v;
@use "nav";
@use "header";
@use "metrics";

* {
  font-family: v.$font-family;
}

body {
  background-color: v.$white;
  font-size: 16px;
  padding: 0 1rem;

  @media (min-width: 768px) {
    padding: 0 2rem;
  }

  @media (min-width: 1440px) {
    padding: 0 7rem;
  }
}

img {
  width: 100%;
}
